.conheca__geral {
    padding: 30px;

    .conheca__titulo {
        @include titulo;
        text-transform: lowercase;
        color: $cor-primaria;
        margin: 30px 0 60px 0;
    }

    .conheca__geral-div {
        @include display-flex (center, center);

        .conheca__div {
            width: 45%;

            .conheca__div-imagem {
                background-color: #D5D4D4;
                width: 554px;
                height: 403px;
                position: relative;
                top: 14px;
                
                .conheca__div-img {
                    position: absolute;
                    top: -20px;
                    left: -61px;
                    width: 569px;
                    height: 400px;
                    object-fit: cover;
                    object-position: center;
                    margin-top: -20px;
                }
            }

            .conheca__texto {
                font-size: 22px;
                line-height: 36px;
            }
        }
    }

    .conheca__quote {
        @include titulo;
        text-align: center;
        color: #525252;
        line-break: loose;
        text-transform: lowercase;
        margin-top: 80px;

        .conheca__span {
            color: black;
        }
    }
}

@media (max-width: 768px) {
    .conheca__geral {
        .conheca__geral-div {
            flex-direction: column;
    
            .conheca__div {
                width: 100%;
    
                .conheca__div-imagem {
                    margin-left: -113px;
                    margin: 0 auto;
                    text-align: center;
    
                    .conheca__div-img {
                        left: -63px;
                    }
                }
            }
        }        
    }
}

@media (max-width: 425px) {
    .conheca__geral {
        .conheca__geral-div {
            flex-direction: column;
    
            .conheca__div {
                width: 100%;
    
                .conheca__div-imagem {
                    margin-left: 0;
                    width: 100%;
                    margin: 0 auto;
                    text-align: center;
                    height: 150px;
    
                    .conheca__div-img {
                        left: 0;
                        width: 100%;
                        height: 189px;
                    }
                }
            }
        }        
    }
}