* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  min-width: 100vw;
  font-family: 'Actor', sans-serif;
  font-size: 15px;
  overflow-x: hidden; }

.navbar__home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  background-color: #222222;
  padding: 20px 30px; }
  .navbar__home .navbar__titulo {
    font-family: "Abhaya Libre", serif;
    font-weight: bolder;
    font-size: 4rem;
    color: #F59614;
    cursor: pointer; }
  .navbar__home .navbar__links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-family: "Abhaya Libre", serif;
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: lowercase;
    color: white;
    margin: 0;
    padding: 0; }
    .navbar__home .navbar__links .navbar__links-item:not(.exclui) {
      margin-left: 40px;
      border-left: 1px solid grey;
      padding-left: 30px; }
  .navbar__home .navbar__btn-call-to-action {
    border: none;
    font-family: "Abhaya Libre", serif;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: lowercase;
    background-color: #F59614;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0; }

.navbar__links-item:hover {
  color: #F59614;
  cursor: pointer; }

.navbar__btn-call-to-action:hover {
  background-color: #be7003; }

@media (max-width: 768px) {
  .navbar__home {
    flex-direction: column;
    height: 230px; }
    .navbar__home .navbar__titulo {
      margin-bottom: -35px; }
    .navbar__home .navbar__btn-call-to-action {
      margin-top: -25px;
      font-weight: 1rem;
      padding: 10px 15px; } }
@media (max-width: 320px) {
  .navbar__home {
    padding: 8px;
    min-width: 100vw;
    text-align: center;
    display: block;
    height: 300px; }
    .navbar__home .navbar__titulo {
      margin-bottom: 0px; }
    .navbar__home .navbar__links {
      flex-direction: column;
      margin: 0;
      padding: 0; }
      .navbar__home .navbar__links .navbar__links-item:not(.exclui) {
        margin-left: 0px;
        margin-top: 10px;
        padding-left: 0px;
        border-left: none; }
    .navbar__home .navbar__btn-call-to-action {
      margin-top: 20px; } }
.header__home {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row-reverse;
  min-width: 100vw;
  min-height: 80vh;
  background-image: url("../../../assets/imagens/header-imagem.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1400px 980px; }
  .header__home .header__container {
    width: 40vw; }
    .header__home .header__container .header__titulo {
      font-family: "Abhaya Libre", serif;
      font-size: 4rem;
      font-weight: bold;
      background-color: white;
      text-align: end;
      margin-right: 30px;
      padding: 20px;
      line-break: loose; }

@media (max-width: 768px) {
  .header__home {
    flex-direction: initial;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header__home .header__container {
      width: 50vw; }
      .header__home .header__container .header__titulo {
        font-size: 2.3rem;
        text-align: center; } }
@media (max-width: 320px) {
  .header__home .header__container {
    width: 90vw; }
    .header__home .header__container .header__titulo {
      line-break: normal;
      font-size: 2rem;
      margin: 0; } }
.saiba-mais__home {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start; }
  .saiba-mais__home .saiba-mais__imagem-botao {
    margin-left: 50px;
    margin-top: -50px; }
    .saiba-mais__home .saiba-mais__imagem-botao .saiba-mais__imagem {
      width: 400px;
      height: 500px;
      object-fit: cover;
      object-position: center; }
    .saiba-mais__home .saiba-mais__imagem-botao .saiba-mais__div-botao {
      width: 400px;
      background-color: #222222;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 70px; }
      .saiba-mais__home .saiba-mais__imagem-botao .saiba-mais__div-botao .saiba-mais__botao-texto {
        font-family: "Abhaya Libre", serif;
        color: #F59614;
        font-weight: bold;
        font-size: 1.3rem;
        text-transform: lowercase;
        margin: 0 0 0 25px;
        padding: 0; }
      .saiba-mais__home .saiba-mais__imagem-botao .saiba-mais__div-botao .saiba-mais__botao {
        cursor: pointer;
        background-color: #F59614;
        width: 60px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center; }
        .saiba-mais__home .saiba-mais__imagem-botao .saiba-mais__div-botao .saiba-mais__botao .saiba-mais__botao-seta {
          width: 30px;
          transform: rotate(180deg); }
  .saiba-mais__home .saiba-mais__icones {
    min-width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 50px; }
    .saiba-mais__home .saiba-mais__icones .saiba-mais__icones-div {
      width: 25vw;
      margin: 30px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .saiba-mais__home .saiba-mais__icones .saiba-mais__icones-div .saiba-mais__icones-imagem {
        width: 90px;
        opacity: 0.3;
        margin-right: 20px; }
      .saiba-mais__home .saiba-mais__icones .saiba-mais__icones-div .saiba-mais__icones-titulo {
        font-family: "Abhaya Libre", serif;
        font-weight: bold;
        color: #a5a5a5;
        cursor: pointer; }
      .saiba-mais__home .saiba-mais__icones .saiba-mais__icones-div .saiba-mais__icones-texto {
        color: #a5a5a5; }
    .saiba-mais__home .saiba-mais__icones .saiba-mais__icones-titulo:hover {
      color: black; }

@media (max-width: 768px) {
  .saiba-mais__home {
    flex-direction: column; }
    .saiba-mais__home .saiba-mais__imagem-botao {
      margin-left: 0; }
      .saiba-mais__home .saiba-mais__imagem-botao .saiba-mais__imagem {
        margin-top: 30px; }
    .saiba-mais__home .saiba-mais__icones {
      flex-direction: column;
      min-width: 90vw; }
      .saiba-mais__home .saiba-mais__icones .saiba-mais__icones-div {
        width: 50vw;
        margin: 20px 0; } }
@media (max-width: 320px) {
  .saiba-mais__home .saiba-mais__imagem-botao .saiba-mais__imagem {
    width: 90vw;
    height: 100vh;
    margin-top: 30px; }
  .saiba-mais__home .saiba-mais__imagem-botao .saiba-mais__div-botao {
    width: 90vw; }
    .saiba-mais__home .saiba-mais__imagem-botao .saiba-mais__div-botao .saiba-mais__botao-texto {
      margin: 0 10px 0 10px;
      line-break: loose; }
  .saiba-mais__home .saiba-mais__icones {
    width: 70%;
    margin: 0; } }

/*# sourceMappingURL=style.css.map */
