.navbar__home {
    @include display-flex(space-between, center);
    height: 120px;
    background-color: $cor-primaria;
    padding: 20px 30px;
    
    .navbar__titulo {
        @include titulo;
        cursor: pointer;
    }

    .navbar__links {
        @include display-flex(center, center);
        list-style: none;
        font-family: $font-titulo;
        font-weight: bold;
        font-size: 1.4rem;
        text-transform: lowercase;
        color: white;
        margin: 0;
        padding: 0;

        .navbar__links-item:not(.exclui) {
            margin-left: 40px;
            border-left: 1px solid grey;
            padding-left: 30px;
        }
    }

    .navbar__btn-call-to-action {
        @include btn-call-to-action;
        margin: 0 30px 0 0; 
    }
}


.navbar__links-item:hover {
    color: $cor-secundaria;
    cursor: pointer;
}

.navbar__btn-call-to-action:hover {
    background-color:  rgb(190, 112, 3);
}

@media (max-width: 768px)
{
    .navbar__home {
        flex-direction: column;
        height: 230px;

        .navbar__titulo {
            margin-bottom: -35px;
        }

        .navbar__btn-call-to-action {
            margin-top: -25px;
            font-weight: 1rem;
            padding: 10px 15px;
        }
    }
}

@media (max-width: 320px)
{
    .navbar__home {
        padding: 8px;
        min-width: 100vw;
        text-align: center;
        display: block;
        height: 300px;

        .navbar__titulo {
            margin-bottom: 0px;
        }

        .navbar__links {
            flex-direction: column;
            margin: 0;
            padding: 0;
            
            .navbar__links-item:not(.exclui) {
                margin-left: 0px;
                margin-top: 10px;
                padding-left: 0px;    
                border-left: none;
            }
        }

        .navbar__btn-call-to-action {
            margin: 20px 0 0 0;
        }

    }
}