.saiba-mais__home {
    align-self: flex-start;
    @include display-flex(center, center);

    .saiba-mais__imagem-botao {
        margin-left: 50px;
        margin-top: -50px;

        .saiba-mais__imagem {
            height: 500px;
            object-fit: cover;
            object-position: center;
            width: 490px;
            margin-bottom: -5px;
        }

        .saiba-mais__div-botao {
            background-color: $cor-primaria;
            width: 490px;
            height: 70px;
            @include display-flex(space-between, center);
            
            .saiba-mais__botao-texto {
                color: $cor-secundaria;
                font-family: $font-titulo;
                font-weight: bold;
                font-size: 1.5rem;
                margin: 0 0 0 25px;
                padding: 0;
                text-transform: lowercase;
            }
            
            .saiba-mais__botao {
                background-color: $cor-secundaria;
                cursor: pointer;
                height: 69px;
                @include display-flex(center, center);
                width: 90px;

                .saiba-mais__botao-seta {
                    transform: rotate(180deg);
                    width: 30px;
                }
            }
        }
    }

    .saiba-mais__icones {
        flex-wrap: wrap;
        @include display-flex(center, center);
        margin-right: 50px;
        min-width: 60vw;

        .saiba-mais__icones-div {
            margin: 30px;
            @include display-flex(center, center);
            width: 25vw;

            .saiba-mais__icones-imagem {
                opacity: 0.3;
                margin-right: 20px;
                width: 90px;
            }

            .saiba-mais__icones-titulo {
                font-family: $font-titulo;
                font-weight: bold;
                font-size: 1.6rem;
                margin: 0;
                color: rgb(165, 165, 165);
                cursor: pointer;
            }

            .saiba-mais__icones-texto {
                color: rgb(165, 165, 165);
                margin-top: 10px;
            }
        }

        .saiba-mais__icones-titulo:hover {
            color: black;
        }
    }
    
}


@media (max-width: 768px)
{
    .saiba-mais__home {
        flex-direction: column;

        .saiba-mais__imagem-botao {
            margin-left: 0;

            .saiba-mais__imagem {
                margin-top: 30px;
            }
        }

        .saiba-mais__icones {
            flex-direction: column;
            min-width: 90vw;

            .saiba-mais__icones-div {
                margin: 20px 0;
                width: 50vw;
            }
        }
    }
}

@media (max-width: 320px)
{
    .saiba-mais__home {
        .saiba-mais__imagem-botao {  
            .saiba-mais__imagem {
                height: 100vh;
                margin-top: 30px;
                width: 90vw;
            }
            
            .saiba-mais__div-botao {
                width: 90vw;

                .saiba-mais__botao-texto {
                    line-break: loose;
                    margin: 0 10px 0 10px;
                }          
            }
        }

        .saiba-mais__icones {
            margin: 0;
            width: 70%;
        }
    }
}

