.saiba-mais__home {
    @include display-flex(center, center);
    align-self: flex-start;

    .saiba-mais__imagem-botao {
        margin-left: 50px;
        margin-top: -50px;

        .saiba-mais__imagem {
            width: 400px;
            height: 500px;
            object-fit: cover;
            object-position: center;
        }

        .saiba-mais__div-botao {
            width: 400px;
            background-color: $cor-primaria;
            @include display-flex(space-between, center);
            height: 70px;
            
            .saiba-mais__botao-texto {
                font-family: $font-titulo;
                color: $cor-secundaria;
                font-weight: bold;
                font-size: 1.3rem;
                text-transform: lowercase;
                margin: 0 0 0 25px;
                padding: 0;
            }
            
            .saiba-mais__botao {
                cursor: pointer;
                background-color: $cor-secundaria;
                width: 60px;
                height: 70px;
                @include display-flex(center, center);

                .saiba-mais__botao-seta {
                    width: 30px;
                    transform: rotate(180deg);
                }
            }
        }
    }

    .saiba-mais__icones {
        min-width: 60vw;
        @include display-flex(center, center);
        flex-wrap: wrap;
        margin-right: 50px;

        .saiba-mais__icones-div {
            width: 25vw;
            margin: 30px;
            @include display-flex(center, center);

            .saiba-mais__icones-imagem {
                width: 90px;
                opacity: 0.3;
                margin-right: 20px;
            }

            .saiba-mais__icones-titulo {
                font-family: $font-titulo;
                font-weight: bold;
                color: rgb(165, 165, 165);
                cursor: pointer;
            }

            .saiba-mais__icones-texto {
                color: rgb(165, 165, 165);
            }
        }

        .saiba-mais__icones-titulo:hover {
            color: black;
        }
    }
    
}


@media (max-width: 768px)
{
    .saiba-mais__home {
        flex-direction: column;

        .saiba-mais__imagem-botao {
            margin-left: 0;

            .saiba-mais__imagem {
                margin-top: 30px;
            }
        }

        .saiba-mais__icones {
            flex-direction: column;
            min-width: 90vw;

            .saiba-mais__icones-div {
                width: 50vw;
                margin: 20px 0;
            }
        }
    }
}

@media (max-width: 320px)
{
    .saiba-mais__home {
        .saiba-mais__imagem-botao {  
            .saiba-mais__imagem {
                width: 90vw;
                height: 100vh;
                margin-top: 30px;
            }
            
            .saiba-mais__div-botao {
                width: 90vw;

                .saiba-mais__botao-texto {
                    margin: 0 10px 0 10px;
                    line-break: loose;
                }          
            }
        }

        .saiba-mais__icones {
            width: 70%;
            margin: 0;
        }
    }
}

