@mixin display-flex($justify-content, $align-item) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-item;
}

@mixin titulo {
    font-family: $font-titulo;
    font-weight: bolder;
    font-size: 4rem;
    color: $cor-secundaria
}

@mixin btn-call-to-action {
    border: none;
    font-family: $font-titulo;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: lowercase;
    background-color: $cor-secundaria;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}