.navbar__home {
    @include display-flex(space-between, center);
    height: 120px;
    background-color: $cor-primaria;
    padding: 20px 30px;
    
    .navbar__titulo {
        @include titulo;
        cursor: pointer;
        color: $cor-secundaria;
        text-decoration: none;
    }

    .navbar__links {
        @include display-flex(center, center);
        list-style: none;
        font-family: $font-titulo;
        font-weight: bold;
        font-size: 1.4rem;
        text-transform: lowercase;
        margin: 0;
        padding: 0;
        
        .navbar__links-item:not(.exclui) {
            margin-left: 40px;
            border-left: 1px solid grey;
            padding-left: 30px;
        }
        
        .navbar__links-item {
            text-decoration: none;
            color: white;         
        }
    }

    .navbar__btn-call-to-action {
        @include btn-call-to-action;
        margin: 0 30px 0 0; 
    }
}

@media (max-width: 768px)
{
    .navbar__home {
        flex-direction: column;
        height: 250px;
        padding: 0;
        @include display-flex (center, center);

        .navbar__titulo {
            margin-bottom: 0px;
            margin-top: 0;
        }

        .navbar__links {
            margin: -5px 0 31px 0;
        }

        .navbar__btn-call-to-action {
            font-weight: 1rem;
            padding: 10px 15px;
        }
    }
}

@media (max-width: 320px)
{
    .navbar__home {
        padding: 8px;
        min-width: 100vw;
        text-align: center;
        display: block;
        height: 300px;

        .navbar__titulo {
            margin-bottom: 0px;
        }

        .navbar__links {
            flex-direction: column;
            margin: 0;
            padding: 0;
            
            .navbar__links-item:not(.exclui) {
                margin-left: 0px;
                margin-top: 10px;
                padding-left: 0px;    
                border-left: none;
            }
        }

        .navbar__btn-call-to-action {
            margin: 20px 0 0 0;
        }

    }
}