.profissionais {
    background-color: $cor-primaria;
    padding-top: 5px;
    padding-bottom: 60px;

    .profissionais__div {
        .profissionais__titulo {
            font-family: $font-titulo;
            font-size: 50px;
            color: #757575;
            margin-left: 55px;
            margin-bottom: 50px;
            text-transform: lowercase;
        }
    }
    
    .profissionais__div-flex {
        @include display-flex (space-between, center);
        flex-wrap: wrap;
        width: 90%;
        margin-left: 55px;
        
        .profissionais__img {
            width: 250px;
            height: 250px;
            object-fit: cover;
            object-position: center;
        }

        .imagem {
            position: relative;

            .capa {
                text-align: center;
                background: rgba(0, 0, 0, 0.651);
                width: 250px;
                height: 250px;
                position: absolute;
                top: 0;
                display: none;
                color: $cor-secundaria;
                font-family: $font-titulo;

                .capa-titulo {
                    font-weight: bold;
                    margin: 30px 0 0 0;
                    font-size: 1.5rem;
                }

                .capa-profissao {
                    margin-top: 5px;
                    font-size: 1.2rem;
                }

                .capa-link {
                    background-color: $cor-secundaria;
                    color: $cor-primaria;
                    padding: 10px 20px;
                    border-radius: 5px;
                    cursor: pointer;

                    .capa-img {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    
    .imagem:hover .capa{
        display: block;
    }
}

@media (max-width: 768px) {
    .profissionais {
        @include display-flex (center, center);
        flex-direction: column;

        .profissionais__div-flex {
            flex-direction: column;
            margin: 0;

            .profissionais__img {
                margin-bottom: 20px;
            }
        }
    }
}

@media (max-width: 320px) {
    .profissionais {
        .profissionais__div {
            .profissionais__titulo {
                margin: 20px 0 20px 0;
                text-align: center;
                padding: 0;
            }
        }
    }
}